---
title: "clean_german_date"
date: 2018-07-27T17:00:00+02:00
draft: false
tags: [clean_german_date]
---

In [1]:
import warnings; warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import oxyba as ox; from importlib import reload; reload(ox);

The function `clean_german_date` converts date strings with the `DD.MM.YYYY` format to `datetime` objects. 
It accepts single strings, list, numpy array and pandas dataframe.

### One Date String

In [2]:
print(ox.clean_german_date('23.09.2012'))

2012-09-23 00:00:00

### List
Let's create some random dates

In [3]:
dates = ox.rand_dates(7)
dates = [d.strftime('%d.%m.%Y') for d in dates]
dates

['28.12.1999',
 '01.05.1995',
 '23.08.1980',
 '08.07.1992',
 '13.08.1990',
 '21.06.1988',
 '25.11.1994']

and convert all list elements

In [4]:
ox.clean_german_date(dates)

[datetime.datetime(1999, 12, 28, 0, 0),
 datetime.datetime(1995, 5, 1, 0, 0),
 datetime.datetime(1980, 8, 23, 0, 0),
 datetime.datetime(1992, 7, 8, 0, 0),
 datetime.datetime(1990, 8, 13, 0, 0),
 datetime.datetime(1988, 6, 21, 0, 0),
 datetime.datetime(1994, 11, 25, 0, 0)]

### Numpy Array
Numpy arrays are supported as well

In [5]:
ox.clean_german_date(np.array(dates))

array([datetime.datetime(1999, 12, 28, 0, 0),
       datetime.datetime(1995, 5, 1, 0, 0),
       datetime.datetime(1980, 8, 23, 0, 0),
       datetime.datetime(1992, 7, 8, 0, 0),
       datetime.datetime(1990, 8, 13, 0, 0),
       datetime.datetime(1988, 6, 21, 0, 0),
       datetime.datetime(1994, 11, 25, 0, 0)], dtype=object)

### Pandas DataFrame

In [6]:
df = pd.DataFrame(dates, columns=['German Date Format'])
df

  German Date Format
0         28.12.1999
1         01.05.1995
2         23.08.1980
3         08.07.1992
4         13.08.1990
5         21.06.1988
6         25.11.1994

In [7]:
df['Computer Date Format'] = ox.clean_german_date(df[['German Date Format']])
df

  German Date Format Computer Date Format
0         28.12.1999           1999-12-28
1         01.05.1995           1995-05-01
2         23.08.1980           1980-08-23
3         08.07.1992           1992-07-08
4         13.08.1990           1990-08-13
5         21.06.1988           1988-06-21
6         25.11.1994           1994-11-25