---
title: "clean_dateobject_to_string"
date: 2018-07-27T18:00:00+02:00
draft: false
tags: [clean_dateobject_to_string]
---

In [1]:
import warnings; warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime, date
import oxyba as ox; from importlib import reload; reload(ox);

The function `clean_dateobject_to_string` converts a Pandas `Timestamp` object or datetime's `datetime` object or a list, array or dataframe with these objects into a string `YYYY-MM-DD`.

### One object

In [2]:
print(ox.clean_dateobject_to_string(pd.Timestamp('2014-09-23 00:00:00')))

2014-09-23

In [3]:
print(ox.clean_dateobject_to_string(datetime(2014,9,23,0,0)))

2014-09-23

In [4]:
print(ox.clean_dateobject_to_string(date(2014,9,23)))

2014-09-23

### List
Let's generate some random dates

In [5]:
dates = ox.rand_dates(8)
dates

[datetime.datetime(2005, 7, 2, 8, 39, 6, 419793),
 datetime.datetime(2013, 12, 8, 3, 30, 19, 371049),
 datetime.datetime(1983, 7, 30, 8, 56, 44, 42096),
 datetime.datetime(1992, 11, 21, 7, 18, 4, 60524),
 datetime.datetime(1988, 4, 17, 15, 1, 11, 155737),
 datetime.datetime(2018, 3, 9, 10, 7, 46, 622098),
 datetime.datetime(1977, 12, 31, 17, 43, 25, 251229),
 datetime.datetime(2018, 3, 29, 8, 38, 49, 428414)]

In [6]:
ox.clean_dateobject_to_string(dates)

['2005-07-02',
 '2013-12-08',
 '1983-07-30',
 '1992-11-21',
 '1988-04-17',
 '2018-03-09',
 '1977-12-31',
 '2018-03-29']

### Numpy Array
Works as well

In [7]:
ox.clean_dateobject_to_string(np.array(dates))

array(['2005-07-02', '2013-12-08', '1983-07-30', '1992-11-21',
       '1988-04-17', '2018-03-09', '1977-12-31', '2018-03-29'],
      dtype='<U10')