---
title: "clean_add_strdec"
date: 2018-07-23T21:00:00+02:00
draft: false
tags: [clean_add_strdec]
---

In [1]:
import warnings; warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import oxyba as ox
from importlib import reload; reload(ox);

### Why is this function useful?
Sometimes raw text files contain decimal numbers, 
i.e. the decimal digits does have meaning, 
e.g. money amounts. 
Thus, it might be desirable not to cast numbers from string to float to avoid floating-point roundings.
Instead `clean_add_strdec` will use the `Decimal` to add two (or more) numbers.

In [2]:
a = "23.45"
b = "12.30"
y = ox.clean_add_strdec(a, b)
y

'35.75'

Using `float` induce errors

In [3]:
a = "23.45"
b = 12.30
y = ox.clean_add_strdec(a, b)
y

'35.75000000000000071054273576'

### Subtraction
Subtraction is just Additon with one number being negative

In [4]:
a = "23.45"
b = "-12.30"
c = ox.clean_add_strdec(a, b)
c

'11.15'

In [5]:
a = "23.45"
b = "12.30"
c = ox.clean_add_strdec(a, "-"+b)
c

'11.15'

### Missing Values or Ineligibles are ignored

In [6]:
a = "23.45"
b = None
y = ox.clean_add_strdec(a, b)
y

'23.45'

In [7]:
a = "23.45"
b = ""
y = ox.clean_add_strdec(a, b)
y

'23.45'

In [8]:
a = "23.45"
b = "abc"
y = ox.clean_add_strdec(a, b)
y

'23.45'

In [9]:
a = "23.45"
b = np.nan
y = ox.clean_add_strdec(a, b)
y

'23.45'

In [10]:
a = "23.45"
b = np.inf
y = ox.clean_add_strdec(a, b)
y

'Infinity'

### Adding Columns

In [11]:
x = [['1.2', '2.3'], ['3.4', '4.5'], ['5.6', '7.8']]
x

[['1.2', '2.3'], ['3.4', '4.5'], ['5.6', '7.8']]

In [12]:
y = ox.clean_add_strdec(np.array(x))
y

array(['3.5', '7.9', '13.4'], dtype='<U4')

In [13]:
y = ox.clean_add_strdec(pd.DataFrame(x))
y

      0
0   3.5
1   7.9
2  13.4