---
title: "clean_to_decimal"
date: 2018-07-27T19:00:00+02:00
draft: false
tags: [clean_to_decimal]
---

In [1]:
import warnings; warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import oxyba as ox; from importlib import reload; reload(ox);

### Convert a String or Number

In [2]:
ox.clean_to_decimal('12.345')

Decimal('12.345')

In [6]:
for p in range(2,6):
    print(p, ox.clean_to_decimal('12.345', prec=p))

2 12
3 12.3
4 12.34
5 12.345

In [7]:
ox.clean_to_decimal(12.345)

Decimal('12.34500000000000063948846218')

In [9]:
ox.clean_to_decimal(12.345, prec=5)

Decimal('12.345')

### List, Arrays, DataFrame

In [13]:
np.random.seed(42)
x = np.random.standard_normal((7,)) * 10
x

array([ 4.96714153, -1.38264301,  6.47688538, 15.23029856, -2.34153375,
       -2.34136957, 15.79212816])

The `prec` argument defines the total number of characters

In [16]:
ox.clean_to_decimal(list(x), prec=5)

[Decimal('4.9671'),
 Decimal('-1.3826'),
 Decimal('6.4769'),
 Decimal('15.230'),
 Decimal('-2.3415'),
 Decimal('-2.3414'),
 Decimal('15.792')]

In [17]:
ox.clean_to_decimal(x, prec=3)

array([Decimal('4.97'), Decimal('-1.38'), Decimal('6.48'),
       Decimal('15.2'), Decimal('-2.34'), Decimal('-2.34'),
       Decimal('15.8')], dtype=object)

In [18]:
ox.clean_to_decimal(pd.DataFrame(x), prec=6)

          0
0   4.96714
1  -1.38264
2   6.47689
3   15.2303
4  -2.34153
5  -2.34137
6   15.7921