---
title: "mysql_batch_and_fetch"
date: 2018-07-02T19:00:00+02:00
draft: false
tags: [mysql_batch_and_fetch, MySQL]
---

In [1]:
import warnings; warnings.filterwarnings('ignore')

load the `oxyba` module

In [2]:
import oxyba as ox

Define the credentials to access the database

In [3]:
cfg_mysql = {'user': 'anonymous', 'passwd': '', 'host': 'ensembldb.ensembl.org', 'port': 3306}

### All SQL statements in one string

Fetch the data and show the result table as tuple of tuple

In [4]:
sql_query = "set @x := 12; set @y := 3; select @x * @y, @y * 2.5;"

data = ox.mysql_batch_and_fetch(cfg_mysql, sql_query)
data

((36, Decimal('7.5')),)

Convert to ndarray or dataframe

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.asarray(data))
df

    0    1
0  36  7.5

### Queries as array of strings

In [6]:
sql_query = ["set @x := 12", "set @y := 3", "select @x * @y, @y * 2.5"]
data = ox.mysql_batch_and_fetch(cfg_mysql, sql_query)
data

((36, Decimal('7.5')),)

### Each SQL statement as input argument

In [7]:
data = ox.mysql_batch_and_fetch(cfg_mysql, "set @x := 12", "set @y := 3", "select @x * @y, @y * 2.5")
data

((36, Decimal('7.5')),)

### Installation
I did not include the `MySQLdb` package in `setup.py` because Database Driver can be very painful to install. 

#### Step 1/2
First, install the the dependencies

Debian/Ubuntu: 

```
sudo apt-get install python-pip python-dev libmysqlclient-dev
```

Fedora: 

```
sudo dnf install python python-devel mysql-devel redhat-rpm-config gcc
```

MacOS
```
brew uninstall mysql 
brew install mysql-connector-c 
brew unlink mysql-connector-c
brew install mysql
```

In June 2018 homebrew moved to MySQL 8 what was not supported by the `MySQLdb` at that time. 
Follow [this instructionn](https://stackoverflow.com/a/51031221) to switch back to version 5.7 on MacOS.

```
brew uninstall mysql
brew install mysql@5.7
brew link --force mysql@5.7
mysql.server start
mysql_secure_installation
```

#### Step 2/2
Finally, run pip and hope for the best.
```
pip install mysqlclient
```

### Links
* http://mysqlclient.readthedocs.io/
* https://www.ensembl.org/info/data/mysql.html
* https://stackoverflow.com/a/51031221